/* Колір основного тексту #757575 */
/* Колір другорядного тексту #212121  */
/* Білий текст №FFFFFF */
/* Акцент #2196F3 */
/* Контакти rgba(255, 255, 255, 0.6) */
/* Остновний фон #FFFFFF */
/* Другорядний фон: #F5F4FA */

/* global ------------ */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --alt-text-color: #ffffff; 
    --primary-white-color: #FFFFFF;
    --secondary-white-color: #F5F4FA; 
    --background-color: #2F303A;
    --black-color: #000000;
    --accent-button-color: #188CE8;
    --line-color: #ECECEC;
    --border-color: #EEEEEE;
}

body {    
    color: var(--primary-text-color);
    background-color: var(--primary-white-color); 

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* .list {
    margin: 0 auto;

    list-style: none;
} */

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

/* -------------------- */

/* container ---------- */

.container {
    margin: 0 auto;
    width: 1170px;

    /* outline: 1px solid red; */
}

/* -------------------- */

/* logo --------------- */

.logo {
    display: inline-block;

    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    text-decoration: none;

}

.logo-top {
    color: var(--black-color);
}

.logo-bottom {
    color: var(--alt-text-color);   
}

.bottom {
    margin-bottom: 20px;
}

/* --------------------- */

/* site-nav / header --- */

.link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.contacts {
    color: var(--primary-text-color);

}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    padding-left: 0;
    margin-left: 93px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .current {
    color: var(--accent-color);  
}

.auth-nav {
    display: flex;
    padding-left: 0;
}

.auth-nav .item + .item{
    margin-left: 50px;
}

.auth-nav-block {
    margin-left: auto;
}

.page-header {
    /* padding: 24px 0 25px; */
    border-bottom: 1px solid var(--line-color);
}

.main-nav {
    display: flex;
    align-items: center;
}

.portfolio {
    margin-bottom: 94px;
}

/* --------------------- */

/* hero----------------- */

.hero {
  

    background-color: var(--background-color);
    text-align: center;    
}

.hero-title {
    margin: 0 auto 30px;  
    padding-top: 200px;

    color: var(--alt-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.button {
    display: inline-block;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 200px;

    background-color: var(--accent-color);
    color: var(--alt-text-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    
}

.button:hover, button:focus {
    background-color: var(--accent-button-color);
}

/* ---------------------- */

/* section--------------- */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.details {
    padding-bottom: 0;
}

/* .main-portfolio {
    margin-top: 94px;
} */

.section-title, .features-title {
    color: var(--title-text-color);
}

.section-title {
    margin: 0 auto 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
 
}

.features {
    display: flex;
    justify-content: space-between;

}

.features-box {
    width: 270px;
}

.features-title {
    margin: 0 auto 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;  
}

.list {
    display: flex;
    flex-wrap: wrap;
        gap: 30px;
    
}



/* ---------------------- */

/* our team ------------- */

.photo-title {
    padding-top: 30px;

    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    
}

.position {
    padding-top: 10px;
    padding-bottom: 30px;

    font-size: 16px;
    line-height: 1.19;
  
}

.team {
    padding: 94px 0;
    margin-bottom: 0;

    background-color: var(--secondary-white-color);
    
}

.teammate-item {
    text-align: center;
    background-color: var(--primary-white-color);
}


/* ---------------------- */

/* filters -------------- */

.filter-button {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: var(--secondary-white-color);
    color: var(--title-text-color);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63; 
}


.filter-button:hover, .filter-button:focus {
    background-color: var(--accent-color);
    color: var(--alt-text-color);
}

.filters {
    padding-bottom: 50px;
    justify-content: center;
    gap: 8px;
}


/* ---------------------- */

/* projects ------------- */

.project-title {
  
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-filter {
 

    font-size: 16px;
    line-height: 1.9;
}

.project-item {
    background-color: var(--primary-white-color);
}

.project-text {
    padding: 20px 24px;
    border: 1px solid var(--border-color);
}

/* ---------------------- */

/* footer --------------- */

.footer {
    padding: 60px 0;

    background-color: var(--background-color);
    
}

.address {
    font-style: normal;
}

.address p {
    margin-bottom: 9px;

    color:var(--alt-text-color);
    
}

.address .link {
    color: var(--alt-text-color);

    opacity: 0.6;
    font-weight: 400;
    line-height: 1.71;
}

.address .link:hover, address .link:focus {
    color: var(--accent-color);

    opacity: 1;

}

.contacts-bottom {
    margin-bottom: 9px;
}