/* Колір основного тексту #757575 */
/* Колір другорядного тексту #212121  */
/* Білий текст №FFFFFF */
/* Акцент #2196F3 */
/* Контакти rgba(255, 255, 255, 0.6) */
/* Остновний фон #FFFFFF */
/* Другорядний фон: #F5F4FA */

/* global ------------ */


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --alt-text-color: #ffffff; 
    --primary-white-color: #FFFFFF;
    --secondary-white-color: #F5F4FA; 
    --background-color: #2F303A;
    --background-transparent-color: rgba(47, 48, 58, 0.8);
    --black-color: #000000;
    --accent-button-color: #188CE8;
    --line-color: #ECECEC;
    --border-color: #EEEEEE;
    --bg-hero-color: #C4C4C4;
    --ovelray-color: rgba(47, 48, 58, 0.4);
    --social-networks-color: #AFB1B8;
    --grey-networks-color: rgba(255,255,255,0.1);
    --overlay-color: rgba(0, 0, 0, 0.2);
    --button-border-color: rgba(0, 0, 0, 0.1);
    --project-description-color: rgba(33, 150, 243, 0.9);
    --line-grey-color: rgba(255, 255, 255, 0.3);
    --field-border-color: rgba(33, 33, 33, 0.2);
    --comment-text-color: rgba(117, 117, 117, 0.5);
    --email-grey-color: rgba(255, 255, 255, 0.6);
    
}

body {    
    color: var(--primary-text-color);
    background-color: var(--primary-white-color); 

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p, ul, label, input, textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

/* -------------------- */

/* container ---------- */

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* -------------------- */

/* logo --------------- */

.logo {
    display: inline-block;

    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    text-decoration: none;

}

.logo-top {
    color: var(--black-color);
}

.logo-bottom {
    color: var(--alt-text-color);   
}

.bottom {
    margin-bottom: 20px;
}

/* --------------------- */

/* site-nav / header --- */

.link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts {
    display: flex;
    color: var(--primary-text-color);

}

.link:hover, .link:focus {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    padding-left: 0;
    margin-left: 93px;
    gap: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

}

.current {
    color: var(--accent-color);  
    
}

.nav-item {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.page-header {
    border-bottom: 1px solid var(--line-color);
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-left: auto;
}

.new-list {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.new-icon {
    width: 16px;
    height: 16px;
    fill: var(--primary-text-color);
}

.mail {
    height: 12px;
}

.tel {
    width: 10px;
}

.new-link {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 10px;

    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.new-link:hover,
.new-link:focus {
    color: var(--accent-color);
}

.new-link:hover .new-icon,
.new-link:focus .new-icon {
    fill: var(--accent-color);
}
/* --------------------- */

/* hero----------------- */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    text-align: center;

    background-color: var(--bg-hero-color);
    background-image: 
    linear-gradient(to right, var(--ovelray-color), var(--ovelray-color)),
    url('../images/hero-main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;  

    color: var(--alt-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.button {
    display: inline-block;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--alt-text-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color: var(--accent-button-color);
}

/* ---------------------- */

/* Modal ---------------- */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    
    background-color: var(--overlay-color);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    
    opacity: 0;
    pointer-events: none;
   
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.0);

    width: 528px;
    height: 581px;

    background-color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);


}

.modal-button {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;

    border-radius: 50%;
    background-color: var(--primary-white-color);
    border: 1px solid var(--button-border-color);
    cursor: pointer;    

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cross {
    width: 11px;
    height: 11px;
    fill: var(--black-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-button:hover,
.modal-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-button:hover .modal-cross, 
.modal-button:focus .modal-cross {
    fill: var(--accent-color);
}
 
.modal-form {
    padding: 40px;  
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: var(--title-text-color);
}

.field-pic-box {
    position: relative;
    margin-bottom: 10px;
}

.field-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    z-index: 2;
    cursor: pointer;

    width: 18px;
    height: 18px;   
    fill: var(--title-text-color);
    transform: translatey(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover,
.form-field:focus {
    border-color: var(--accent-color);
}

.form-field:focus + .field-icon {
    fill: var(--accent-color);

}

.field-box:hover .field-icon {
    fill: var(--accent-color);
}

.field-title {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    
    color: var(--primary-text-color);
}

.form-field {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 1px 1px 1px 42px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    border: 1px solid var(--field-border-color);
    border-radius: 4px;
    outline: transparent;

    cursor: text;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-box textarea::placeholder {
    color: var(--comment-text-color);
}


.form-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    
    color: var(--title-text-color);

    resize: none;
}

.agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8px; */
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox {
    /* appearance: none;
    position: absolute; */
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.checkbox-icon {
    display: inline-block;
    /* box-sizing: border-box; */
    width: 16px;
    height: 15px;
    /* fill: var(--primary-white-color); */
    /* background-color: red; */
    background-image: url(../images/check-empty.svg);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.checkbox:checked + .checkbox-icon {
    background-color: var(--accent-color);
    /* border-color: var(--accent-color); */
    background-image: url(../images/check-full.svg);
}

.checkbox:focus + .checkbox-icon {
    outline: 2px solid black;
}


.agreement-text {
    margin-left: 8px;
}

.agreement-link {
    color: var(--accent-color);

}

.form-button {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--accent-button-color);
}

/* ---------------------- */

/* section--------------- */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.details {
    padding-bottom: 0;
}

.section-title, .features-title {
    color: var(--title-text-color);
}

.section-title {
    margin: 0 auto 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
 
}

.features {
    display: flex;
    justify-content: space-between;

}

.features-box {
    width: 270px;
}

.feature-icon-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-white-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature-icon {
    display: block;
    width: 70px;
    height: 70px;
 
}

.features-title {
    margin: 0 auto 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;  
}

.pictures-list, .teammate-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

/* ---------------------- */

/* What We Do ----------- */

.pic-box-item {   
    position: relative;

    display: flex;
    justify-content: center;
}

.pic-title { 
    position: absolute;
    bottom: 0;
    z-index: 1;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    
    color: var(--primary-white-color);
    background-color: var(--background-transparent-color); 

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* ---------------------- */

/* our team ------------- */

.photo-title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    
}

.position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
  
}

.team {
    padding: 94px 0;
    margin-bottom: 0;

    background-color: var(--secondary-white-color);
    
}

.teammate-item {
    text-align: center;
    background-color: var(--primary-white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

.teammate-info {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

/* social networks --------- */

.networks {
    display: flex;
    gap: 10px;
 
}

.network-links {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-icon {
    margin: auto;
    width: 22px;
    height: 22px; 
    fill: var(--social-networks-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-networks .network-links {
    background-color: var(--grey-networks-color);
}

.social-networks .network-icon {
    fill: var(--primary-white-color);
}

/* .network-links:hover, .network-links:focus {
    background-color: var(--accent-color);
} */

.network-links:hover,
.network-links:focus {
    background-color: var(--accent-color);
}

.network-links:hover .network-icon, 
.network-links:focus .network-icon {
    fill: var(--primary-white-color);
}

/* ---------------------- */

/* Regular Customers */

.customers {
    display: flex;
    gap: 30px;
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-networks-color);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customer-icon {
    width: 106px;
    height: 60px;
    fill: var(--social-networks-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--accent-color);

}

.customer-link:hover .customer-icon, 
.customer-link:focus .customer-icon {
    fill: var(--accent-color);
}

/* filters -------------- */

.filter-button {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: var(--secondary-white-color);
    color: var(--title-text-color);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.filter-button:hover, .filter-button:focus {
    background-color: var(--accent-color);
    color: var(--alt-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);;
}

.filters-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/* ---------------------- */

/* projects ------------- */

.project-link {
    text-decoration: none;
    color: var(--primary-text-color) ;
}

.project-title {
  
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-filter {
    font-size: 16px;
    line-height: 1.9;
}

.project-item {
    background-color: var(--primary-white-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-text {
    padding: 20px 24px;
    border: 1px solid var(--border-color);
}

.project-pic {
    position: relative;
    overflow: hidden;
}

.project-description {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    background-color: var(--project-description-color);
    color: var(--primary-white-color);
    transform: translatey(100%);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-description {
    transform: translatey(0);
}

.project-link:focus .project-description {
    transform: translatey(0);
}
/* ---------------------- */

/* footer --------------- */

.footer {
    padding: 60px 0;

    background-color: var(--background-color);
    
}

.address {
    font-style: normal;
}

.address p {
    color:var(--alt-text-color);
    
}

.link-bottom {
    color: var(--alt-text-color);
    font-size: 14px;
    opacity: 0.6;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.link-bottom:hover, address .link:focus {
    color: var(--accent-color);
    opacity: 1;

}

.contacts-bottom {
    width: 231px;
}

.contacts-item {
    padding-top: 9px;
}

.bottom-box {
    display: flex;
}

.social-networks {
    margin-left: 70px;
    padding-top: 12px;
}

.social-networks-title {
    margin-bottom: 20px;
    
    color: var(--alt-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.subscription { 
    margin-left: auto;
    padding-top: 12px;
}

.subscribe-box {
    display: flex;
    gap: 12px;
    
}

.subscribe-mail {
    display: flex;
    width: 358px;
    height: 50px;  
    padding-left: 16px;
    
    border-radius: 4px;
    border: 1px solid var(--line-grey-color);
    background-color: var(--background-color);

    color: var(--primary-white-color);    
}

.subscribe-box input::placeholder {
    color: var(--email-grey-color)
}

.subscribe-button {
    display: flex;
    width: 200px;
    height: 50px;
    gap: 10px;
    padding-left: 29px;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--alt-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

.subscribe-icon {
    display: flex;
    fill: var(--primary-white-color);
    height: 24px; 
}

.subscribe-button:hover, .subscribe-button:focus {
    background-color: var(--accent-button-color);
}